<router-outlet></router-outlet>

<div class="banner"><br>
  <h1><b>Esto es Colombia</b></h1>
</div>

<div class="body">

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/1.png" class="d-block w-100" alt="..." width="350px" height="330px">
    </div>
    <div class="carousel-item">
      <img src="assets/2.png" class="d-block w-100" alt="..." width="350px" height="330px">
    </div>
    <div class="carousel-item">
      <img src="assets/3.png" class="d-block w-100" alt="..." width="350px" height="330px">
    </div>
    <div class="carousel-item">
      <img src="assets/4.png" class="d-block w-100" alt="..." width="350px" height="330px">
    </div>
    <div class="carousel-item">
      <img src="assets/5.png" class="d-block w-100" alt="..." width="350px" height="330px">
    </div>
    <div class="carousel-item">
      <img src="assets/6.png" class="d-block w-100" alt="..." width="350px" height="330px">
    </div>
    <div class="carousel-item">
      <img src="assets/7.png" class="d-block w-100" alt="..." width="350px" height="330px">
    </div>
    <div class="carousel-item">
      <img src="assets/8.png" class="d-block w-100" alt="..." width="350px" height="330px">
    </div>
  </div>
</div>

</div><br>

<div class="banner2">
  <img src="assets/Colombia.png" alt="" width="100%" height="80px">
</div><br>

<div class="history">
  <h1>1 – Colombia es el país con mayor biodiversidad del planeta</h1>
  <div class="profile-text">
  <img class="profile" src="assets/9.png" alt="">
  </div>

  <p class="parrafo">La primera de las curiosidades de Colombia es que este es el país con mayor biodiversidad del mundo. La razón es que parte de la selva amazónica, la cordillera de los Andes y la Sierra Nevada de Santa Marta están en Colombia.</p>
  <p class="parrafo">Además, el litoral del país abarca el océano Pacífico y el mar Caribe, haciendo que el territorio colombiano se convierta en un terreno fértil para diversos tipos de plantas y animales: hay unas 60.000 especies diferentes allá.</p><br>

  <h1>2 – Colombia tiene varios parques nacionales</h1>
  <div class="profile-text">
    <img class="profile" src="assets/10.png" alt="">
  </div>
  <p class="parrafo"> El país cuenta con 60 parques nacionales, cada uno de los cuales combina diferentes tipos de terreno. Ya sean bosques, montañas, lagos o desiertos, hay algo para cada amante de la naturaleza. El Parque Nacional de Chiribiquete es considerado Patrimonio de la Humanidad por la Unesco y se extiende por 4,3 millones de hectáreas, abarcando las provincias de Orinoquia, Guyana, la Amazonia y los Andes del Norte.</p>

  <h1>3 – Colombia tiene algunas de las ciudades turísticas más populares</h1>
  <div class="profile-text">
    <img class="profile" src="assets/11.png" alt="">
    </div>
  <p class="parrafo">Colombia es conocida por sus diversas y turísticas ciudades. Cartagena es una de las más populares, ubicada en la costa del Caribe. La ciudad es un conocido pueblo de pescadores que contiene una rica historia con una antigua arquitectura colonial.  Otra ciudad famosa por el turismo es Bogotá, la capital del país. Esta ciudad es más comercial, con tiendas, teatros, iglesias, vida nocturna y mucho más.</p>

  <h1>4 – Colombia tiene dos de los mayores festivales del mundo</h1>
  <div class="profile-text">
    <img class="profile" src="assets/12.png" alt="">
    </div>
  <p class="parrafo">Colombia cuenta con el mayor festival de salsa del mundo, también conocido como la Feria de Cali. El festival se celebra del 25 al 30 de diciembre de cada año y contiene grandes espectáculos de música, danza y arte. Siempre hay diferentes tipos de música, pero la más popular, por supuesto, es la increíble música latina.</p>
  <p class="parrafo">Colombia también tiene el mayor festival de flores del mundo en la ciudad de Medellín. En el evento hay exposiciones de flores y un desfile de floricultores locales que se reúnen para compartir lo que cultivan.</p>

  <h1>5 – Colombia tiene uno de los mejores cafés del mundo</h1>
  <div class="profile-text">
    <img class="profile" src="assets/13.png" alt="">
    </div>
  <p class="parrafo">Si te gusta el café, el país es un exportador mundial de esta bebida, con más de 50.000 explotaciones/áreas de cultivo del grano. En general, las personas describen el café colombiano como muy equilibrado y sabroso. Así que, los trabajadores ponen especial cuidado en la recolección de los granos a mano, lo que hace que el café colombiano sea uno de los mejores del mundo.</p>

  <h1>6 – Colombia tiene más de 4.000 especies de orquídeas</h1>
  <div class="profile-text">
    <img class="profile" src="assets/14.png" alt="">
    </div>
  <p class="parrafo">La última de las curiosidades de Colombia es que el país es uno de los mayores productores de flores del mundo y cuenta con más de 4.000 especies de orquídeas. Además, 1.500 de ellas solo se encuentran en Colombia. Así que no es raro que la flor nacional de Colombia sea una orquídea llamada Cattleya Trianae.</p>


</div>

<div class="footer"></div>